spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/springbook
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

  mvc:
    view:
      prefix: /WEB-INF/board/
      suffix: .jsp

server:
  servlet:
    encoding:
      charset: EUC-KR

logging:
  level:
    org.hibernate.SQL: debug