<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">로그인</title>
    <style>
        table { border-collapse: collapse; }
        td { padding: 5px; }
        td.bg-orange { background-color: orange; }
    </style>
</head>
<body>
<center>
    <h1 th:text="#{login.title}">로그인</h1>
    <hr>

    <form th:action="@{/login}" method="post">
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <td class="bg-orange" th:text="#{login.id}">아이디</td>
                <td><input type="text" name="id" /></td>
            </tr>
            <tr>
                <td class="bg-orange" th:text="#{login.password}">비밀번호</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" th:value="#{login.submit}" />
                </td>
            </tr>
        </table>
    </form>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>

    <hr>
</center>
</body>
</html>
